.container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #181818;
  transition: background-color 0.3s ease;
  margin: 8px;
  border-radius: 8px;
  overflow: hidden;
}

.container:hover {
  background-color: #282828;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.titleText {
  font-size: x-large;
  margin: 2px auto 2px 16px;
  color: white;
  font-weight: 600;
}

.artistText {
  font-size: large;
  margin: 0 auto 8px 16px;
  color: #939393;
}

.overflowDots {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 250px;
  white-space: nowrap;
}

img {
  box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  object-fit: contain;
  overflow: hidden;
  width: 250px;
  margin: 16px;
}
