button {
  background-color: var(--slate-blue);
  transition: filter 0.3s ease;
  color: black;
  border-radius: 500px;
  padding: 14px 32px;
  font-size: 95%;
  font-weight: 700;
  border: none;
  line-height: 20px;
}

button:hover {
  filter: brightness(130%);
  transition: filter 0.3s ease;
}
