<div class="toolbarInputWrapper">
    <img src="assets/icons/search.svg" />
    <input class="toolbarInput" type="text" placeholder="Search" (input)="onSearch($event)"/>
</div>

<div class="toolbarInputWrapper">
    <img class="sortDirectionIcon" src="assets/icons/{{sortIcon}}.svg" 
        (click)="onChangeSortDirection()" />
    <select class="toolbarInput" (change)="onSort($event)">
        <option value="title">Title</option>
        <option value="artist">Artist</option>
        <option value="releasedAt">Released Date</option>
        <option value="addedAt" selected>Saved Date</option>
    </select>
</div>

<div class="toolbarInputWrapper">
    <img src="assets/icons/filter.svg" />
    <select class="toolbarInput">
        <option>Tag1</option>
        <option>Tag2</option>
    </select>
</div>
