<div class="container">
    <div class="toolbarChild">
        <app-searchbar iconSrc="assets/icons/search.svg"
            (inputEvent)="onSearch($event)"
        />
    </div>

    <div class="toolbarChild">
        <app-select [multiple]="false"
            iconSrc="assets/icons/sort-dsc.svg"
            altIconSrc="assets/icons/sort-asc.svg"
            [options]="[
                {label: 'Title', value: 'title'},
                {label: 'Artist', value: 'artist'},
                {label: 'Released Date', value: 'releasedAt'},
                {label: 'Added Date', value: 'addedAt'}
            ]"
            defaultValue="addedAt"
            (selectedEvent)="onSort($event.toString())"
            [clickableIcon]="true"
            (clickedIconEvent)="onChangeSortDirection()"
        />
    </div>
    <div class="toolbarChild">
        <app-select [multiple]="true"
            iconSrc="assets/icons/filter.svg"
            [options]="[
                {label: 'Option1', value: 'option1'},
                {label: 'Option2', value: 'option2'},
                {label: 'Option3', value: 'option3'},
                {label: 'Option4', value: 'option4'}
            ]"
            [clickableIcon]="false"
        />
    </div>

    <app-switch class="switch"
        leftIconSrc="assets/icons/grid.svg" 
        rightIconSrc="assets/icons/list.svg" 
        (toggleEvent)="onSwitchView()" 
    />
</div>
