<div class="container">
    <div class="toolbarChild">
        <app-searchbar iconSrc="assets/icons/search.svg"
            label="Search"
            (inputEvent)="onSearch($event)"
        />
    </div>

    <div class="toolbarChild">
        <app-select 
            label="Sort"
            [multiple]="false"
            iconSrc="assets/icons/sort-dsc.svg"
            altIconSrc="assets/icons/sort-asc.svg"
            [options]="sortingOptions"
            defaultValue="addedAt"
            [clickableIcon]="true"
            (selectedEvent)="onSort($event.toString())"
            (clickedIconEvent)="onChangeSortDirection()"
        />
    </div>
    <div class="toolbarChild">
        <app-select 
            label="Filter"
            [multiple]="true"
            iconSrc="assets/icons/filter.svg"
            [options]="filteringOptions"
            [clickableIcon]="false"
            (selectedEvent)="onFilter(castSelectedToArray($event))"
        />
    </div>

    <app-switch class="switch"
        label="View"
        leftIconSrc="assets/icons/grid.svg" 
        rightIconSrc="assets/icons/list.svg" 
        (toggleEvent)="onSwitchView()" 
    />
</div>
