.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 60vw;
  padding-left: 16px;
}

.toolbarChild {
  width: calc(100% / 3);
  display: inline-block;
  box-sizing: border-box;
  margin-right: 3vw;
}
