.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 60vw;
}

.toolbarInputWrapper {
  background-color: var(--dark);
  border: none;
  padding: 8px;
  margin-right: 3vw;
  width: calc(100% / 3);
  border-radius: 24px;
  display: flex;
  flex-direction: row;
}

.toolbarChild {
  width: calc(100% / 3);
  display: inline-block;
  box-sizing: border-box;
  margin-right: 3vw;
}

.toolbarInput {
  background-color: var(--dark);
  color: var(--white);
  border: none;
  width: 90%;
  padding-left: 8px;
}

.toolbarInput:focus {
  outline: none;
}

.toolbarInputWrapper:focus-within {
  outline: 2px solid var(--amethyst);
}

img {
  filter: invert(100%);
  opacity: 0.7;
}

.sortDirectionIcon {
  cursor: pointer;
}

input[type="text"] {
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
}
