<div class="container" (click)="onClick()">
    <img [src]="currentIconSrc" 
        [ngStyle]="{'cursor' : clickableIcon ? 'pointer' : 'auto'}"
        (click)="onIconClick($event)"/>
    <div class="header">{{header}}</div>
    <div *ngIf="isDropdownOpen" class="dropdown">
        <div *ngFor="let option of options" 
            class="option"
            (click)="onSelect(option)"
            [ngStyle]="{'color': isSelected(option) ? 'var(--amethyst)' : 'var(--white)'}"
            >
            {{option.label}}
        </div>
    </div>
</div>