.container {
  background-color: var(--dark);
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 8px;
  outline: transparent 2px solid;
  transition: outline 0.3s;
}

.container:hover {
  outline: 2px solid var(--amethyst);
}

.dropdown {
  background-color: var(--dark);
  border-radius: 4px;
  outline: 1px solid var(--jet);
  position: absolute;
  top: 100%;
  margin-top: 5px;
  left: 5%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px;
  box-shadow: 0px 8px 16px 0px var(--black);
}

.header {
  font-size: 16px;
  font-weight: 300;
  margin-left: 8px;
  display: inline-block;
  white-space: pre;
  overflow-x: hidden;
  text-overflow: clip;
  width: 100%;
}

.label {
  margin-left: 8px;
  margin-bottom: 2px;
  font-size: 14px;
}

.option {
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  padding: 8px;
}

.option:hover {
  background-color: var(--jet);
  border-radius: 4px;
}

img {
  filter: invert(100%);
}

.mainIcon {
  opacity: 0.7;
}

.dropdownIcon {
  opacity: 0.4;
}
