<!-- <div class="label">ADD</div> -->
<div class="container" (click)="onClick()" (keydown)="onKeyDown($event)">
    <div class="content">
        <img src="assets/icons/plus.svg" />
        <input class="input"
            #textInput
            type="text" 
            placeholder="ADD"
            (input)="onInput($event)"
            (focus)="onFocus()"
            (blur)="onBlur($event)"
        />
    </div>
    
    <div *ngIf="isDropdownOpen" class="dropdown">
        <div *ngIf="inputText && (tagsAfterSearch.length === 0 || tagsAfterSearch[0]?.name !== inputText)" 
            class="option"
            tabindex="-1"
            (click)="onAdd({name: inputText, color: ''}, $event)"
        >
            <img src="assets/icons/plus.svg"/>
            <span>{{inputText}}</span>
        </div>
        <div *ngFor="let tag of tagsAfterSearch; let i = index;" class="optionWrapper">
            <div *ngIf="i === firstAlreadyAssignedIndex(allTags)" class="separator">
                <hr />
                <p>Assigned</p>
            </div>

            <div *ngIf="i === 0" class="separator">
                <p>Available</p>
            </div>

            <div *ngIf="isAlreadyAssigned(tag)"
                class="option alreadyAssigned tag"
                tabindex="-1"
            >
                <div class="badge" [style.backgroundColor]="tag.color"></div>
                <span>{{tag.name}}</span>
            </div>
            <div *ngIf="!isAlreadyAssigned(tag)"
                class="option tag"
                tabindex="-1"
                (click)="onAdd(tag, $event)"
            >
                <div class="badge" [style.backgroundColor]="tag.color"></div>             
                <span>{{tag.name}}</span>
            </div>
        </div>
        <div *ngIf="tagsAfterSearch.length === 0 && !inputText"
            class="option disabled"
            tabindex="-1"
        >
            No Tags yet
        </div>
    </div>
</div>