.container {
  background-color: var(--black);
  border-radius: 24px;
  /* padding: 0.7vh 0.7vw; */
  padding: 8px;
  display: inline-block;
  position: relative;
  /* outline: solid 2px var(--jet); */
  min-width: 90px;
  max-width: 300px;
  cursor: text;
}

.label {
  margin-left: 8px;
  margin-bottom: 8px;
  font-size: 14px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.input {
  color: var(--white);
  border: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

input[type="text"] {
  font-size: 0.8vw;
  font-weight: 500;
  /* letter-spacing: 3px; */
  border: none;
  display: block;
}

.input:focus {
  outline: none;
}

.dropdown {
  background-color: var(--black);
  border-radius: 4px;
  outline: 1px solid var(--dark);
  position: absolute;
  top: 100%;
  margin-top: 3px;
  left: 5%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px;
  box-shadow: 0px 8px 16px 0px var(--black);
  z-index: 2;
  max-height: 30rem;
  overflow-y: auto;
  overflow-x: hidden;
  cursor: default;
}

::-webkit-scrollbar {
  width: 4px;
}
.optionWrapper {
  width: 100%;
}

.option {
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  padding: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.disabled {
  opacity: 0.5;
}

.alreadyAssigned > span {
  opacity: 0.5;
}

.badge {
  border-radius: 50%;
  padding-right: 24px;
  margin-right: 4px;
  height: 24px;
  width: 8px;
}

.option:hover {
  background-color: var(--jet);
  border-radius: 4px;
}

.disabled:hover {
  background-color: var(--dark);
}

.alreadyAssigned:hover {
  background-color: var(--dark);
}

img {
  filter: invert(100%);
  margin: 0;
  margin-right: 4px;
  padding: 0;
  opacity: 0.9;
  width: 0.8vw;
  height: 0.8vw;
}
