<div class="root">
    <div *ngIf="!isAuthenticated" class="login">
        <h1>Spotify Library Manager</h1>
        <app-button content='LOG IN WITH SPOTIFY' [onClick]="onLogin" />
    </div>

    <div *ngIf="isAuthenticated">
        <div class="navbar">
            <app-toolbar class="toolbar" (searchEvent)="list.onSearch($event)"/>
            <app-user-info />
        </div>
    
        <div class="content">
            <app-albums-list #list (chooseAlbumEvent)="onChooseAlbum($event)" />
            <app-album-details [album]="chosenAlbum"/>
        </div>
    </div>
</div>

