.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 4px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
