<div 
    class="userInfoRoot" 
    (click)="onClick()"
    [ngStyle]="{'color': isDropdownOpen ? 'var(--amethyst)' : ''}"
    >
    <img class="userAvatarCircle" src="{{imageUrl}}">
    <p>{{username}}</p>

    <div *ngIf="isDropdownOpen" class="dropdown">
        <a class="option" href="{{profileUrl}}" target="_blank">
            <div>Profile</div>
        </a>
        <a class="option" href="https://www.spotify.com/us/account/overview/" target="_blank">
            <div>Account</div>
        </a>

        <div class="option logoutOption" (click)="logout()">Logout</div>
    </div>
</div>