.mainPanel {
  display: flex;
  flex-direction: column;
  width: 45vw;
  height: 95vh;
  background-color: var(--dark);
  overflow-y: scroll;
  margin-top: 8px;
}

.headerPanel {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: start;
  padding: 16px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--grey);
  margin: 1em 8px;
  padding: 0;
  opacity: 0.3;
}

.buttonsPanel {
  display: flex;
  flex-direction: row;
  margin: 0px 16px 8px 16px;
  gap: 16px;
}

.horizontalLine {
  width: 1px;
  background-color: var(--grey);
}

.expandedDetailsPanel {
  padding: 0px 24px;
  font-size: 1vw;
  margin-bottom: 20pt;
  font-weight: 300;
}

.expandedDetailsHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  margin-bottom: 16px;
}

.inactiveHeader {
  opacity: 0.4;
  cursor: pointer;
}

.tracksTable {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

h3 {
  margin: 0 0 24px 0;
}

.tracksTable th {
  color: #a8a9a6;
  font-weight: 400;
  text-align: start;
  table-layout: auto;
  border-spacing: 100px;
}

.tracksTable td:first-child {
  color: #a8a9a6;
  padding-left: 16px;
}

.tracksTable th:first-child {
  width: 64px;
  padding-left: 16px;
}

.tracksTable td {
  padding-bottom: 12px;
}

.trackArtists {
  font-size: 0.8vw;
  color: var(--grey);
  text-overflow: ellipsis;
  overflow: hidden;
  width: 95%;
  white-space: nowrap;
}

.label {
  margin-left: 8px;
  margin-bottom: 2px;
  font-size: 14px;
  margin-top: 24px;
  margin-bottom: 8px;
}

.tagsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 12px 12px;
}

img {
  width: 30%;
  margin-right: 24px;
  box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.info {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2vw;
}

.additionalInfo {
  font-size: 0.75vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dot {
  background-color: white;
  border-radius: 50%;
  width: 0.2vw;
  height: 0.2vw;
  margin: 0 8px;
}
