<div *ngIf="album.title" class="mainPanel">
    <div class="headerPanel">
        <img src={{album.imageUrl}}/>

        <div class="info">
            <h1 class="title">{{album.title}}</h1>
            <div class="additionalInfo">
                <h2>{{album.artist}}</h2>
                <div class="dot"></div>
                <h2>{{album.releasedAt.slice(0, 4)}}</h2>
                <div class="dot"></div>
                <h2>{{album.totalTracks}} {{album.totalTracks < 2 ? 'track' : 'tracks'}}</h2>
            </div>
        </div>
    </div>
    <div class="buttonsPanel">
        <app-switch leftIconSrc="assets/icons/tracks.svg"
            rightIconSrc="assets/icons/tags.svg"
            (toggleEvent)="onSwitchExpandedDetails()"
        />
        <div class="horizontalLine"></div>
        <app-button-with-icon variant="listen" (clickEvent)="onListenButtonClick()"></app-button-with-icon>
        <app-button-with-icon variant="link" (clickEvent)="onCopyLinkButtonClick()"></app-button-with-icon>
        <app-button-with-icon variant="remove"></app-button-with-icon>
    </div>
    <div class="expandedDetailsPanel">
        <h3>{{expandedInfo === 'tracks' ? 'Tracks' : 'Tags'}}</h3>
        <table *ngIf="expandedInfo==='tracks'" class="tracksTable">
            <tr>
                <th>#</th>
                <th>Title</th>
            </tr>
            <tr class="tableSpacer"></tr>
            <tr *ngFor="let track of album.tracks; index as i;">
                <td class="trackNumberText">{{i + 1}}</td>
                <td>
                    <div>
                        <div>{{track.title}}</div>
                        <div class="trackArtists">{{track.artists.join(', ')}}</div>
                    </div>
                </td>
            </tr>
        </table>
        <div *ngIf="expandedInfo === 'tags'" class="tagsList">Tags</div>
    </div>
</div>
