.mainPanel {
  display: flex;
  flex-direction: column;
  width: 45vw;
  height: 95vh;
  background-color: #181818;
  color: white;
  overflow-y: scroll;
  margin-top: 8px;
}

.headerPanel {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: start;
  padding: 16px;
}

.buttonsPanel {
  display: flex;
  flex-direction: row;
  margin: 0px 16px 32px 16px;
  gap: 16px;
}

.tracksPanel {
  padding: 0px 24px;
  font-size: 1vw;
  margin-bottom: 20pt;
  font-weight: 300;
}

.tracksTable {
  width: 100%;
  table-layout: fixed;
  line-height: 2.75vh;
  border-collapse: collapse;
}

.tracksTable th {
  color: #a8a9a6;
  font-weight: 400;
  text-align: start;
  table-layout: auto;
  border-bottom: 1px solid rgba(147, 147, 147, 0.4);
  border-spacing: 100px;
}

.tableSpacer {
  height: 2vh;
}

.tracksTable td:first-child {
  color: #a8a9a6;
  padding-left: 16px;
}

.tracksTable th:first-child {
  width: 48px;
  padding-left: 16px;
}

.trackArtists {
  font-size: 0.75vw;
  color: #939393;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 95%;
  white-space: nowrap;
}

img {
  width: 40%;
  margin-right: 24px;
}

.info {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2vw;
}

.additionalInfo {
  font-size: 0.75vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dot {
  background-color: white;
  border-radius: 50%;
  width: 0.2vw;
  height: 0.2vw;
  margin: 0 8px;
}
