.albumGrid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 54vw;
  overflow-y: scroll;
  height: 95vh;
  margin-top: 8px;
  margin-right: 1vw;
}

.albumList {
  display: flex;
  flex-direction: column;
  width: 54vw;
  overflow-y: scroll;
  height: 95vh;
  margin-top: 8px;
  margin-right: 1vw;
}
