html {
  background-color: #121212;
  font-family: CircularBook;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

@font-face {
  font-family: "CircularBook";
  src: url("../assets/fonts/CircularBook.otf");
}

::-webkit-scrollbar {
  background-color: #302c2c;
}

::-webkit-scrollbar-thumb {
  background-color: #5a5a5a;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #898989;
}

::-webkit-scrollbar-button {
  display: none;
}
