html {
  background-color: var(--night);
  font-family: Circular, Helvetica, Arial, sans-serif;
  font-weight: 400;
  user-select: none;
  -webkit-user-select: none;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

/* https://coolors.co/a06cd5-0f0f0f-2d2e2e-fbfbfb-6f58c9 */
:root {
  --amethyst: #a06cd5ff;
  --night: #0f0f0fff;
  --jet: #2d2e2eff;
  --white: #fbfbfbff;
  --slate-blue: #6f58c9ff;
}

@font-face {
  font-family: "Circular";
  src: url("./assets/fonts/CircularBook.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Circular";
  src: url("./assets/fonts/CircularLight.otf");
  font-weight: 300;
}

::-webkit-scrollbar {
  background-color: #302c2c;
}

::-webkit-scrollbar-thumb {
  background-color: #5a5a5a;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #898989;
}

::-webkit-scrollbar-button {
  display: none;
}
