.albumList {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  max-width: 65vw;
  overflow-y: scroll;
  height: 90vh;
}

.albumListItem {
  width: calc(33.33% - 16px);
  margin: 8px;
}
